body {
    /* Allows content to fill the viewport and go beyond the bottom */
height: 100%;

/* Allows you to scroll below the viewport; default value is visible */
overflow-y: scroll;

/* To smooth any scrolling behavior */
-webkit-overflow-scrolling: touch;

padding-bottom: 70px;
}


.hideMe {
    display: none;
}

img.resize {
  width: 25px;
  height: 25px;
}

.btn-fixed-width {
    width: 150px;
}