<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel ="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='modal.js') }}"></script>
    <title>CluedoMaster</title>
</head>

{% set nav_bar = [('cards','Cards'),('turns','Turns')] %}

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{{ url_for('home') }}">
      CluedoMaster
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        {% for url, nav_text in nav_bar %}
            <li class="nav-item {% if active_page == url %}active{% endif %}">
                <a class="nav-link" href="{{ url_for(url) }}">{{ nav_text }}</a>
            </li>
        {% endfor %}
        <li class="nav-item ">
            <a class="nav-link d-sm-none" href="{{ url_for('home') }}">Start new game</a>
        </li>

    </ul>
    {% if active_page != 'home' %}
    <form class="form-inline my-2 my-lg-0 d-none d-sm-block">
        <button type="button" class="btn btn-secondary mr-4" data-toggle="modal" data-target="#newTurnModal">
            New suggestion
        </button>
        <button type="button" class="btn btn-success mr-4" data-toggle="modal" data-target="#newAccusationModal">
            Make accusation
        </button>
        <a class="btn btn-warning my-2 my-sm-0 max-4" href="{{ url_for('home') }}">Start new game</a>
    </form>
    {% endif %}
  </div>
</nav>

{% if active_page != 'home' %}
    <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-primary d-sm-none">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#newTurnModal">
            New suggestion
        </button>
        <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#newAccusationModal">
            Make accusation
        </button>
    </nav>
{% endif %}

<div class="container mt-3">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>

{% block content %}{% endblock %}