{% extends "base.html" %}
{% set active_page = "home" %}

{% block content %}
<div class="container mt-3">
    <div class="alert alert-info" role="alert">
        <div class="alert-header">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        Enter the player's names clockwise, starting with your own name.
    </div>
    <div class="row">
        <div class="col-sm">
            <form method="post">
                <fieldset>
                    <legend>Player's names</legend>
                    {% for i in range(1,7) %}
                        <div class="form-group">
                            <input class="form-control" name="player" placeholder="Enter {% if i == 1 %}your name{% else %}name of player {{ i }}{% endif %}">
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Next</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready( function() {
    if ( $(window).width() < 576) {
        $(".btn").addClass('btn-block');
    }
    else {
        $(".btn").addClass('btn-fixed-width float-right');
    }
    });
</script>

{% endblock %}
