{% extends "base.html" %}
{% set active_page = "turns" %}

{% block content %}

<div class="container mt-3">
    {% if 'turn' is in session %}
        {% for turn in session['turn'] %}
            <div class="card my-3">
                <div class="card-header d-flex flex-row justify-content-end align-items-center">
                    <span class="mr-auto h4">{{ loop.index }}. {{ turn['turn_player'] }}</span>
                    <span class="mx-1">
                        <img src="{{url_for('static', filename='showed_card.png')}}" class="resize mr-2">
                        {{ turn['show_player'] }} showed
                        {% if 'cardShowedToMe' is in turn %}
                            {% if turn['cardShowedToMe'] != turn['suspect_asked']%} the {% endif %}
                            {{ turn['cardShowedToMe'] }}
                        {% elif 'cardShowedByMe' is in turn %}
                            {% if turn['cardShowedByMe'] != turn['suspect_asked']%} the {% endif %}
                            {{ turn['cardShowedByMe'] }}
                        {% else %}
                            a card
                        {% endif %}
                    </span>
                </div>
                <div class="card-body row">
                    <div class="col-sm">
                        {% set card = turn['location_asked'] %}
                        {% set image = "location" %}
                        {% include "list_item_card.html" %}
                    </div>
                    <div class="col-sm">
                        {% set card = turn['suspect_asked'] %}
                        {% set image = "suspect" %}
                        {% include "list_item_card.html" %}
                    </div>
                    <div class="col-sm">
                        {% set card = turn['weapon_asked'] %}
                        {% set image = "weapon" %}
                        {% include "list_item_card.html" %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info" role="alert">
            No turns yet.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endif %}
</div>

{% include "modals.html" %}

{% endblock %}
